<div style="width:100%; overflow: auto;margin: 2rem 0 2rem 0;" fxLayoutGap="1rem" fxLayout="column" fxLayoutAlign="center center">
    <!-- <div style="width:100%;background-color: blue;height: 3rem;padding: 0 10px 0 10px;" fxLayoutAlign="space-between center" fxLayout="row">
        <div style="font-size: 1rem; font-weight: bold;color: #ffffff;">Register</div>
        
    </div> -->
    
    <div style="width:60%; font-size:2rem;padding-top:2rem; color:red;">
        User Profile Template
    </div>
    <div style="width:100%;background-color: blue;" fxLayout="row" fxLayoutAlign="space-between center">
       <div style="width:40%;" fxLayoutAlign="center center">    
         <div style="padding:2rem;width:50%;">
            Demo App
        
       </div>
    </div>
    
    <div style="width:60%;" fxLayout="row" fxLayoutAlign="space-evenly">
        <li style="list-style-type: none; padding-right: 1rem; cursor: pointer;" routerLink="/home">HOME</li>
        <li style="list-style-type: none; padding-right: 1rem; cursor: pointer;">ABOUT US</li>
        <li style="list-style-type: none; padding-right: 1rem; cursor: pointer;">JOBS</li>
        <li style="list-style-type: none; padding-right: 1rem; cursor: pointer;">CLIENTS</li>
        <li style="list-style-type: none; padding-right: 1rem; cursor: pointer;">EMPLOYERS</li>
        <li style="list-style-type: none; padding-right: 1rem; cursor: pointer;">CONTACT US</li>
    </div>
    </div>

    <div style="width:60%" fxLayoutGap="1rem" fxLayoutAlign="" fxLayout="row">
        <mat-card style="width:100%" fxLayoutGap="1rem" fxLayoutAlign="" fxLayout="row">
            <div style="width:30%">
                <div style="width: 100%;height: 7rem;background-color: lightgray;">
                    <!-- <img src=""> -->
                </div>
            </div>
            <div style="width:70%; padding:10px" fxLayout="column" fxLayoutGap=1rem [formGroup]="profileForm">
                <div fxLayout="row" fxLayoutGap=1rem style="width:100%;">
                    <div fxLayout="column" fxLayoutGap=1rem style="width:55%;">
                        <mat-form-field  style="width:100%;">
                            <input formControlName="firstName" matInput placeholder="First Name">
                        </mat-form-field>
                        <mat-error *ngIf="!profileForm.controls['firstName'].valid">please enter only alphabets,
                            maximum length is 20</mat-error>
                    </div>
                    <mat-form-field  style="width:38%;">
                        <input formControlName="lastName" matInput placeholder="Last Name">
                    </mat-form-field>
                </div>

                <div fxLayout="row" fxLayoutGap=1rem style="width:100%;">
                    <mat-form-field  style="width:100%;">
                        <input formControlName="email" matInput placeholder="Email">
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutGap=1rem style="width:100%;">
                    <mat-form-field  style="width:100%;">
                        <input formControlName="phoneNumber" matInput placeholder="Phone Number">
                    </mat-form-field>
                </div>
                <div>
                    <mat-label>Age</mat-label>
                    <ng5-slider [(value)]="value" [options]="options"></ng5-slider>
                </div>
                <div fxLayout="row" fxLayoutGap=1rem style="width:100%;">
                    <mat-form-field  style="width:100%;">
                        <!-- <input type="text" matInput placeholder="State"> -->
                        <mat-select formControlName="state" placeholder="State">
                            <mat-option value="Maharashtra">Maharashtra</mat-option>
                            <mat-option value="Gujarat">Gujarat</mat-option>
                            <mat-option value="Delhi">Delhi</mat-option>
                            <mat-option value="Karnataka">Karnataka</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutGap=1rem style="width:100%;">
                    <mat-form-field  style="width:100%;">
                        <!-- <input type="text" matInput placeholder="Country"> -->
                        <mat-select formControlName="country" placeholder="country">
                            <mat-option value="India">India</mat-option>
                            <mat-option value="USA">USA</mat-option>
                            <mat-option value="Japan">Japan</mat-option>

                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutGap=1rem style="width:100%;">
                    <mat-form-field  style="width:100%;">
                        <!-- <input type="text" matInput placeholder="Address"> -->
                        <mat-select formControlName="address" placeholder="Address" (selectionChange)="switchAddressType()">
                            <mat-option value="home">Home</mat-option>
                            <mat-option value="company">Company</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div *ngIf="profileForm.controls['address'].value === 'home'" fxLayout="column" fxLayoutGap=1rem
                    style="width:100%;">
                    <div fxLayout="column" fxLayoutGap=1rem style="width:100%;">
                        <mat-form-field  style="width:100%;">
                            <input formControlName="homeAddress1" matInput placeholder="Address 1">
                        </mat-form-field>
                    </div>
                    <div fxLayout="column" fxLayoutGap=1rem style="width:100%;">
                        <mat-form-field  style="width:100%;">
                            <input formControlName="homeAddress2" matInput placeholder="Address 2">
                        </mat-form-field>
                    </div>
                </div>
                <div *ngIf="profileForm.controls['address'].value === 'company'" fxLayout="column" fxLayoutGap=1rem
                    style="width:100%;">
                    <div fxLayout="column" fxLayoutGap=1rem style="width:100%;">
                        <mat-form-field  style="width:100%;">
                            <input formControlName="companyAddress1" matInput placeholder="Company Address 1">
                        </mat-form-field>
                    </div>
                    <div fxLayout="column" fxLayoutGap=1rem style="width:100%;">
                        <mat-form-field  style="width:100%;">
                            <input formControlName="companyAddress2" matInput placeholder="Company Address 2">
                        </mat-form-field>
                    </div>
                </div>
                <!-- <div>
                                <mat-form-field class="example-chip-list">
                                    <mat-label>Favorite Fruits</mat-label>
                                    <mat-chip-list #chipList aria-label="Fruit selection">
                                      <mat-chip *ngFor="let fruit of fruits" [selectable]="selectable"
                                               [removable]="removable" (removed)="remove(fruit)">
                                        {{fruit.name}}
                                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                      </mat-chip>
                                      <input placeholder="New fruit..."
                                             [matChipInputFor]="chipList"
                                             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                             [matChipInputAddOnBlur]="addOnBlur"
                                             (matChipInputTokenEnd)="add($event)">
                                    </mat-chip-list>
                                  </mat-form-field>
                            </div> -->
                <div>
                    <mat-checkbox formControlName="subscriptionToNewsletter">subscribe to newsletter</mat-checkbox>
                </div>
                <div fxLayout="row" fxLayoutGap=1rem style="width:100%;">
                    <!-- <button mat-button
                        style="display: table-cell;font-size: 14px; margin-left: 8px;min-width: 120px;">Cancel</button> -->
                    <button mat-raised-button color="primary" (click)="updateUSer()">Update Profile</button>
                </div>
            </div>
        </mat-card>
   </div>
</div>
